* {
  line-height: 140%;
}

/* importing typefaces */
@font-face {
  font-family: roboto-slab-light;
  src: url(/typeface/roboto-slab/roboto-slab-regular.ttf) format(truetype);
}
@font-face {
  font-family: roboto-regular;
  src: url(/typeface/roboto/roboto-regular.ttf) format(truetype);
}

html {
  max-width: 960px;
  margin: auto;
  font-size: 62.5%;
}

/* style for top navigation menu */
/* source: https://www.w3schools.com/Css/css_navbar.asp */
#top-nav {
  background-color: #e2d9cc;
  overflow: hidden;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#top-nav a {
  float: left;
  color: #1d1d1d;
  text-align: left;
  padding: 16px;
  text-decoration: none;
  font-size: 1.7rem;
  font-family: Helvetica, Arial, sans-serif;
}
/* Change the colour of links on hover */
#top-nav a:hover,
#top-nav a:focus {
  background-color: #7e7e7e5d;
  color: #050505;
}
/* Add a colour to the active/current link */
#top-nav a#active {
  background-color: #911f27;
  color: #dddddd;
}
/* end of navigation menu */

/* background and text colour */
body {
  background-color: #f7f3ee;
  color: #141414;
  font-size: 1.6rem;
}

/* coloured hr */
hr {
  color: #911f27;
  margin: 5px;
}

/* header and paragraph styling */
h1 {
  color: #53090e;
  text-align: center;
  padding: 5px;
  font-size: 4rem;
  font-family: roboto-slab-light, serif;
}

h2 {
  padding: 20px;
  font-size: 2rem;
  font-family: roboto-slab-light, serif;
}

p {
  padding: 5px 40px 10px 40px;
  font-size: 1.6rem;
  font-family: roboto-regular, sans-serif;
}

/* style the different image classes */
.right-image {
  float: right;

  margin: 35px 20px 40px 20px;
  border: 2px solid #911f27;
}

.center-image {
  display: block;
  margin: 40px auto 20px auto;
  width: 80%;
  border: 2px solid #911f27;
}

figcaption {
  text-align: center;
  font-size: 1.6rem;
  font-family: roboto-regular, sans-serif;
}
