/* 
  This will style all elements to have line-height
  of 140% of the font size of the element
  - Mr. Hardman
*/
* {
  line-height: 140%;
}

/* 
  importing two typefaces from truetype files 
  source: https://www.geeksforgeeks.org/how-to-include-a-font-ttf-using-css/

  font-family specifies the name of the imported typeface
  src: url( ) specifies the path of the .ttf file
*/
@font-face {
  font-family: roboto-slab-light;
  src: url(/typeface/roboto-slab/roboto-slab-regular.ttf);
}
@font-face {
  font-family: roboto-regular;
  src: url(/typeface/roboto/roboto-regular.ttf);
}

/* 
  max-width; sets the maximum width of content on the website (fixed width layout) 
  margin: auto; centers all content by splitting white space equally between right and left
  font-size 62.5%; "sets the font size of the root element to 62.5% of the default font size for the browser" - Mr. Hardman
*/
html {
  max-width: 960px;
  margin: auto;
  font-size: 62.5%;
}

/* 
  style for top navigation menu
  source: https://www.w3schools.com/Css/css_navbar.asp 
  background-color: ; sets the background colour for the nav bar
  overflow: hidden; "prevents navigation bar from collapsing when it has floated children." - Stackoverflow user hungerstar
  https://stackoverflow.com/questions/43007817/why-do-i-have-to-add-overflowhidden-to-make-the-navigation-bar-visible-on-the
*/
#top-nav {
  background-color: #e2d9cc;
  overflow: hidden;
}
/* 
  list-style-type: none; makes it so it displays no bullet points 
  margin: 0; padding: 0; sets margin and padding to 0 for no extra spacing
*/
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* 
  float: left; floats nav links left
  color: #1d1d1d; sets the font color to a near black 
  padding: 16px; adds padding around the text to increase the button size
  text-decoration: none; removes the underline on links
  font-size: 1.7rem; set font size to 1.7 times the default font size, or 17px
  font-family: roboto-regular, sans serif; set typeface to roboto-regular with sans serif as a fallback
*/
#top-nav a {
  float: left;
  color: #1d1d1d;
  padding: 16px;
  text-decoration: none;
  font-size: 1.7rem;
  font-family: roboto-regular, sans-serif;
}
/* Change the colour of links on hover */
#top-nav a:hover,
#top-nav a:focus {
  background-color: #7e7e7e5d;
  color: #050505;
}
/* Add a colour to the active/current link */
#top-nav a#active {
  background-color: #911f27;
  color: #dddddd;
}
/* end of navigation menu */

/* background and text colour */
body {
  background-color: #f7f3ee;
  color: #141414;
  font-size: 1.6rem;
}

/* coloured hr */
hr {
  color: #911f27;
  margin: 5px;
}

/* header and paragraph styling */
h1 {
  color: #53090e;
  text-align: center;
  padding: 5px;
  font-size: 4rem;
  font-family: roboto-slab-light, serif;
}

h2 {
  padding: 20px;
  font-size: 2rem;
  font-family: roboto-slab-light, serif;
}

p {
  padding: 5px 40px 10px 40px;
  font-size: 1.6rem;
  font-family: roboto-regular, sans-serif;
}

/* style the different image classes */
.right-image {
  float: right;

  margin: 35px 20px 40px 20px;
  border: 2px solid #911f27;
}

.center-image {
  display: block;
  margin: 40px auto 20px auto;
  width: 80%;
  border: 2px solid #911f27;
}

figcaption {
  text-align: center;
  font-size: 1.6rem;
  font-family: roboto-regular, sans-serif;
}

footer p {
  text-align: center;
}
