/* importing typefaces */
@font-face {
  font-family: roboto-slab-light;
  src: url(/typeface/roboto-slab/RobotoSlab-Regular.ttf) format(truetype);
}
@font-face {
  font-family: roboto-regular;
  src: url(/typeface/roboto/Roboto-Regular.ttf) format(truetype);
}

.top-nav {
  background-color: rgba(141, 138, 138, 0.555);
  overflow: hidden;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.top-nav a {
  float: left;
  color: #1d1d1d;
  text-align: left;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Helvetica, Arial, sans-serif;
}

/* Change the color of links on hover */
.top-nav a:hover {
  background-color: #575757;
  color: white;
}

/* Add a color to the active/current link */
.top-nav a.active {
  background-color: #7e1515;
  color: #c9c9c9;
}

h1 {
  text-align: center;
}

hr {
  color: #921a1a;
}

body {
  background-color: #f7f3ee;
  color: #141414;
}

h1 {
  padding: 5px;
  font-size: 40px;
  font-family: roboto-slab-light;
}

h2 {
  padding: 5px;

  font-size: 20px;
  font-family: roboto-slab-light;
}

p {
  padding: 15px;
  font-size: 15px;
  font-family: roboto-regular;
}

/* dropdown menu style */
details {
  font-family: roboto-regular;
  padding-left: 15px;
  font-size: 20px;
}

details p {
  font-family: roboto-regular;
  font-size: 15px;
  width: 45%;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}
